In [ ]:
import pandas as pd
import cashier as c

In [ ]:
test_case = c.Transaction()

In [ ]:
test_case.add_item("Ayam Goreng", 2, 20000)
test_case.add_item("Pasta Gigi", 3, 15000)
test_case.show_order()

Anda menambahkan Ayam Goreng sebanyak 2 seharga 20000
Anda menambahkan Pasta Gigi sebanyak 3 seharga 15000
| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Ayam Goreng |             2 |        20000 |         40000 |
| Pasta Gigi  |             3 |        15000 |         45000 |

In [ ]:
test_case.delete_item("Pasta Gigi")
test_case.show_order()

Anda berhasil menghapus pesanan Pasta Gigi

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Ayam Goreng |             2 |        20000 |         40000 |

In [ ]:
test_case.reset_item()

Semua item di keranjang Anda sudah dihapus

In [ ]:
test_case.add_item("Ayam Goreng", 2, 20000)
test_case.add_item("Pasta Gigi", 3, 15000)
test_case.add_item("Mainan Mobil", 1, 200000)
test_case.add_item("Mi Instan", 5, 3000)
test_case.show_order()
test_case.total_price()

Anda menambahkan Ayam Goreng sebanyak 2 seharga 20000
Anda menambahkan Pasta Gigi sebanyak 3 seharga 15000
Anda menambahkan Mainan Mobil sebanyak 1 seharga 200000
Anda menambahkan Mi Instan sebanyak 5 seharga 3000
| Nama Item    |   Jumlah Item |   Harga/Item |   Total Harga |
|--------------|---------------|--------------|---------------|
| Ayam Goreng  |             2 |        20000 |         40000 |
| Pasta Gigi   |             3 |        15000 |         45000 |
| Mainan Mobil |             1 |       200000 |        200000 |
| Mi Instan    |             5 |         3000 |         15000 |
Selamat! Anda mendapatkan diskon sebesar 5%
Total pembelanjaan Anda sebesar Rp 300000 menjadi Rp 285000